/* Modal background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide modal when .is-hidden is present */
.is-hidden {
    display: none;
}

/* Modal box */
.modal-content {
    background: rgb(202, 59, 59);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
